@import url("main.css");
@import url("header.css");
@import url("tiles.css");
@import url("slider.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */

/* Layout of page and global properties */
body {
  font-family: "Jost", sans-serif;
}
.container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.content-area {
  width: 90%;
  margin-bottom: 20px;
}
.content-area::after {
  content: " ";
  display: table;
  clear: both;
}

/* Left Sidebar */

.left-sidebar {
  margin-top: 260px;
}
.left-sidebar ul {
  margin-bottom: 20px;
}
.left-sidebar ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1rem;
}
.left-sidebar .top {
  margin-bottom: 50px;
}
.left-sidebar .bottom {
  height: fit-content;
}
.bottom .follow-us {
  display: flex;
  rotate: 270deg;
  flex-wrap: nowrap;
  text-transform: uppercase;
  width: max-content;
}

/* Right sidebar */

.right-sidebar {
  height: 100%;
  width: 5%;
}
.right-sidebar {
  display: flex;
  rotate: 270deg;
  flex-wrap: nowrap;
  font-size: 1rem;
}
.right-sidebar p {
  display: inline-block;
  width: 15%;
}
